/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 04/07/2023, 11:38:19 AM
    Author     : LENOVO
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body{
    width: 100%;
    height: 97vh;
    font-family: "Baloo 2", sans-serif;
     background-color: #000000;
  color: #ffffff;
    }



                                                             /*NAVBAR*/
#navbar{
    background-color: #000000;
    padding: 20px;
}

.img-navbar{
   width: 50px;
}

.navbar-brand{
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
    margin: 0px 5px;
}

.navbar-brand span{
    color:#20F25B;
}

.navbar-brand:hover{
    color: white;
}


.nav-item .nav-link{
    font-size: 18px;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
    margin: 0px 5px;
}

.nav-item .nav-link:hover{
    color: #7FFF00;
}

/*las 3 rallitas*/
.navbar-toggler span{
    color: white;
}



                                                /*parte central*/

                                             
 .ubicar-contenedor{
display: flex;
    
}

.ubicar h2{
    color: #ffffff;
    padding: 115px 0 5px 20px;
    font-size: 60px;
    
}



h2 span{
    color: #20F25B;
}


.ubicar img{
     width: 100%;
    position: absolute;
  z-index: -1;
  height: auto; /* Ajusta esta propiedad para mantener la proporciÃ³n de la imagen */
  height: 100%;
  filter: brightness(0.7) saturate(0.8);
 
}

.ubicar iframe{
    padding: 5px 0 0 20px;
}

.derecha{
    background: #ffffff;
    padding: 5px;
    border-radius: 10px;
    width: 110%;
}
.detalle-contenedor {
     padding-left: 100px;
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
    justify-content: center;
}
.detalle{
    font-weight: bold;
 text-align: center; 
}
.derecha h4{
    color: #20F25B;
    text-align: center;
}

.derecha p{
    color: #000000;
    text-align: center;
    line-height: 0.5;
}


                /*RESPONSIVE*/

@media  (max-width: 1200px) {
  .ubicar-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
    justify-content: center;
  }
  
  .ubicar h2{
   display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
    justify-content: center;
    
}

  
  .detalle-contenedor {
    margin-top: 40px; /* Ajusta el margen según tus necesidades */
     padding-left: 0;
  }
  
   .imgU {
    display: none;
  }
}

body{
    background-image:  url("../imagenes/fondoU.jpg"); 
     background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}